<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace:名称空间-->
<mapper namespace="com.xupt.mybatis.dao.EmployeeMapper">
    <!--
    id:唯一标识
    resultType：返回值类型
    id:占位符
    -->
    <!--public Employee getEMpByMap(Map<String,Object>map);-->
    <select id="getEmpByMap" resultType="Employee" databaseId="mysql">
      select id,last_name lastName,gender, email
       from tbl_employee
       where id = #{id} and last_name=#{lastName}
    </select>

    <!--public Employee getEmpByIdAndName(Integer id,String lastName);-->
    <select id="getEmpByIdAndName" resultType="Employee" databaseId="mysql">
      select id,last_name lastName,gender, email
       from tbl_employee
       where id = #{id} and last_name=#{lastName}
    </select>

    <select id="getEmpById" resultType="Employee" databaseId="mysql">
       select id,last_name lastName,gender, email
       from tbl_employee
       where id = #{id}
    </select>

    <!--public void addEmp(Employee employee);-->
    <insert id="addEmp" parameterType="employee" databaseId="mysql">
      insert into tbl_employee(last_name,gender,email)
      values (#{lastName},#{gender},#{email})
    </insert>

    <!--public void updateEmp(Employee employee);-->
    <update id="updateEmp" parameterType="employee" databaseId="mysql">
        update tbl_employee
        set last_name=#{lastName},gender=#{gender},email=#{email}
        where id=#{id}
    </update>
    <!--public void deleteEmp(Integer id);-->
     <delete id="deleteEmp"  databaseId="mysql">
         delete from tbl_employee
         where id=#{id}
     </delete>


</mapper>